.tweet-container {
  padding: 5px;
}

.tweet-article {
  border: 4px solid grey;
  padding: 10px;
  margin: 10px;
}

.tweet-article:hover {
  box-shadow: 5px 5px  rgb(209, 216, 196);
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-bottom: 30px;
}

.tweets {
  padding-bottom: 20px;
  width: 90%;
  height: fit-content;
  font-size: 20px;
}

.tweet-article:hover .tweets {
  font-weight: 600;
}

.username {
  font-size: 24px;
  padding: 5px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.handle {
  display: none;
}

.tweet-article:hover .handle {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: rgb(209, 216, 196);
}

.footer {
  border-top: 4px solid grey;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.date {
  font-size: 14px;
  padding-left: 15px;
  padding-top: 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px;
  padding-top: 5px;
}